@import "src/scss/variables";
@import "src/scss/icons";

@if ($o-icons-is-silent == false) {
		@if ($o-icons-local == true) {
			@font-face {
				font-family: 'oc-icons';
				src: url('../../assets/oc-icons.eot?-675gho');
				src: url('../../assets/oc-icons.eot?#iefix-675gho') format('embedded-opentype'),
				url('../../assets/oc-icons.woff?-675gho') format('woff'),
				url('../../assets/oc-icons.ttf?-675gho') format('truetype'),
				url('../../assets/oc-icons.svg?-675gho#oc-icons') format('svg');
				font-weight: normal;
				font-style: normal;
			}
		} @else {
			@font-face {
				font-family: 'oc-icons';
				src: url('#{$o-icons-path}assets/oc-icons.eot?-675gho');
				src: url('#{$o-icons-path}assets/oc-icons.eot?#iefix-675gho') format('embedded-opentype'),
				url('#{$o-icons-path}assets/oc-icons.woff?-675gho') format('woff'),
				url('#{$o-icons-path}assets/oc-icons.ttf?-675gho') format('truetype'),
				url('#{$o-icons-path}assets/oc-icons.svg?-675gho#oc-icons') format('svg');
				font-weight: normal;
				font-style: normal;
		}
	}
}
