@mixin oIconLoad ($local, $path) {
	@if ($local == true) {
		@font-face {
			font-family: 'oc-icons';
			src: url('../../assets/oc-icons.eot?-675gho');
			src: url('../../assets/oc-icons.eot?#iefix-675gho') format('embedded-opentype'),
			url('../../assets/oc-icons.woff?-675gho') format('woff'),
			url('../../assets/oc-icons.ttf?-675gho') format('truetype'),
			url('../../assets/oc-icons.svg?-675gho#oc-icons') format('svg');
			font-weight: normal;
			font-style: normal;
		}
	} @else {
		@font-face {
			font-family: 'oc-icons';
			src: url('#{$path}assets/oc-icons.eot?-675gho');
			src: url('#{$path}assets/oc-icons.eot?#iefix-675gho') format('embedded-opentype'),
			url('#{$path}assets/oc-icons.woff?-675gho') format('woff'),
			url('#{$path}assets/oc-icons.ttf?-675gho') format('truetype'),
			url('#{$path}assets/oc-icons.svg?-675gho#oc-icons') format('svg');
			font-weight: normal;
			font-style: normal;
		}
	}

	[class^="oc-icon-"],
	[class*="oc-icon-"] {
		font-family: 'oc-icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.oc-icon-check:before {
		content: "\e698";
	}
	.oc-icon-spreadsheet:before {
		content: "\e656";
	}
	.oc-icon-presentation:before {
		content: "\e657";
	}
	.oc-icon-tour:before {
		content: "\e658";
	}
	.oc-icon-participation:before {
		content: "\e659";
	}
	.oc-icon-discussion-topic:before {
		content: "\e65a";
	}
	.oc-icon-performance:before {
		content: "\e65b";
	}
	.oc-icon-module:before {
		content: "\e65c";
	}
	.oc-icon-quick-assess:before {
		content: "\e65d";
	}
	.oc-icon-simulation:before {
		content: "\e65e";
	}
	.oc-icon-article:before {
		content: "\e65f";
	}
	.oc-icon-everyone:before {
		content: "\e660";
	}
	.oc-icon-institution:before {
		content: "\e661";
	}
	.oc-icon-person:before {
		content: "\e662";
	}
	.oc-icon-reply-square:before {
		content: "\e663";
	}
	.oc-icon-share-doc:before {
		content: "\e664";
	}
	.oc-icon-doc-sharing:before {
		content: "\e665";
	}
	.oc-icon-people:before {
		content: "\e666";
	}
	.oc-icon-back-arrow:before {
		content: "\e667";
	}
	.oc-icon-not-visible:before {
		content: "\e668";
	}
	.oc-icon-image-missing:before {
		content: "\e66a";
	}
	.oc-icon-audio-note:before {
		content: "\e66b";
	}
	.oc-icon-collapse-full:before {
		content: "\e66c";
	}
	.oc-icon-fullscreen:before {
		content: "\e66d";
	}
	.oc-icon-fullscreen-square:before {
		content: "\e66e";
	}
	.oc-icon-microphone:before {
		content: "\e66f";
	}
	.oc-icon-reply:before {
		content: "\e670";
	}
	.oc-icon-tag:before {
		content: "\e671";
	}
	.oc-icon-compass:before {
		content: "\e672";
	}
	.oc-icon-tools:before {
		content: "\e673";
	}
	.oc-icon-map:before {
		content: "\e675";
	}
	.oc-icon-assessment:before {
		content: "\e676";
	}
	.oc-icon-video-lab:before {
		content: "\e677";
	}
	.oc-icon-video-lesson:before {
		content: "\e678";
	}
	.oc-icon-video-lecture:before {
		content: "\e679";
	}
	.oc-icon-audio:before {
		content: "\e67a";
	}
	.oc-icon-list:before {
		content: "\e67b";
	}
	.oc-icon-chart-square:before {
		content: "\e67c";
	}
	.oc-icon-attach:before {
		content: "\e67d";
	}
	.oc-icon-notification:before {
		content: "\e67f";
	}
	.oc-icon-watch:before {
		content: "\e680";
	}
	.oc-icon-power:before {
		content: "\e681";
	}
	.oc-icon-inbox:before {
		content: "\e682";
	}
	.oc-icon-activity:before {
		content: "\e683";
	}
	.oc-icon-flag:before {
		content: "\e684";
	}
	.oc-icon-unsupported-content:before {
		content: "\e686";
	}
	.oc-icon-respond:before {
		content: "\e687";
	}
	.oc-icon-institution-alt:before {
		content: "\e689";
	}
	.oc-icon-link:before {
		content: "\e68a";
	}
	.oc-icon-pivot:before {
		content: "\e68b";
	}
	.oc-icon-started:before {
		content: "\e68c";
	}
	.oc-icon-not-started:before {
		content: "\e68d";
	}
	.oc-icon-summative-quiz:before {
		content: "\e68e";
	}
	.oc-icon-fully-online:before {
		content: "\e690";
	}
	.oc-icon-peer-assessment:before {
		content: "\e691";
	}
	.oc-icon-attendance:before {
		content: "\e692";
	}
	.oc-icon-available:before {
		content: "\e693";
	}
	.oc-icon-busy:before {
		content: "\e694";
	}
	.oc-icon-unavailable:before {
		content: "\e695";
	}
	.oc-icon-other:before {
		content: "\e696";
	}
	.oc-icon-assignment:before {
		content: "\e697";
	}
	.oc-icon-logo:before {
		content: "\e638";
	}
	.oc-icon-up:before {
		content: "\e63a";
	}
	.oc-icon-right:before {
		content: "\e63b";
	}
	.oc-icon-down:before {
		content: "\e63c";
	}
	.oc-icon-visible:before {
		content: "\e63d";
	}
	.oc-icon-catalog:before {
		content: "\e63e";
	}
	.oc-icon-images:before {
		content: "\e63f";
	}
	.oc-icon-location:before {
		content: "\e640";
	}
	.oc-icon-dashboard:before {
		content: "\e641";
	}
	.oc-icon-ebook:before {
		content: "\e642";
	}
	.oc-icon-messages:before {
		content: "\e643";
	}
	.oc-icon-locate:before {
		content: "\e644";
	}
	.oc-icon-photo:before {
		content: "\e646";
	}
	.oc-icon-alert-triangle:before {
		content: "\e647";
	}
	.oc-icon-alert-circle:before {
		content: "\e62c";
	}
	.oc-icon-alert-square:before {
		content: "\e649";
	}
	.oc-icon-alert-diamond:before {
		content: "\e64a";
	}
	.oc-icon-book:before {
		content: "\e64b";
	}
	.oc-icon-timer:before {
		content: "\e64c";
	}
	.oc-icon-cloud:before {
		content: "\e64e";
	}
	.oc-icon-upload:before {
		content: "\e64f";
	}
	.oc-icon-download:before {
		content: "\e650";
	}
	.oc-icon-trash:before {
		content: "\e651";
	}
	.oc-icon-recommended:before {
		content: "\e654";
	}
	.oc-icon-textbook:before {
		content: "\e655";
	}
	.oc-icon-unlock:before {
		content: "\e628";
	}
	.oc-icon-lock:before {
		content: "\e629";
	}
	.oc-icon-no:before {
		content: "\e62a";
	}
	.oc-icon-add-attach:before {
		content: "\e62b";
	}
	.oc-icon-close-delete:before {
		content: "\e62c";
	}
	.oc-icon-collapse:before {
		content: "\e62d";
	}
	.oc-icon-clock:before {
		content: "\e62e";
	}
	.oc-icon-info:before {
		content: "\e62f";
	}
	.oc-icon-arrow-circle-left:before {
		content: "\e630";
	}
	.oc-icon-arrow-circle-right:before {
		content: "\e631";
	}
	.oc-icon-arrow-circle-up:before {
		content: "\e632";
	}
	.oc-icon-arrow-circle-down:before {
		content: "\e633";
	}
	.oc-icon-refresh:before {
		content: "\e634";
	}
	.oc-icon-avatar:before {
		content: "\e635";
	}
	.oc-icon-add:before {
		content: "\e636";
	}
	.oc-icon-close-x:before {
		content: "\e637";
	}
	.oc-icon-video:before {
		content: "\e600";
	}
	.oc-icon-target:before {
		content: "\e601";
	}
	.oc-icon-submissions:before {
		content: "\e602";
	}
	.oc-icon-stream:before {
		content: "\e603";
	}
	.oc-icon-settings:before {
		content: "\e604";
	}
	.oc-icon-search:before {
		content: "\e605";
	}
	.oc-icon-ring:before {
		content: "\e606";
	}
	.oc-icon-outline:before {
		content: "\e608";
	}
	.oc-icon-menu:before {
		content: "\e60a";
	}
	.oc-icon-menu-list:before {
		content: "\e60b";
	}
	.oc-icon-like:before {
		content: "\e60c";
	}
	.oc-icon-idea:before {
		content: "\e60d";
	}
	.oc-icon-home:before {
		content: "\e60e";
	}
	.oc-icon-groups:before {
		content: "\e60f";
	}
	.oc-icon-gradebook:before {
		content: "\e610";
	}
	.oc-icon-goal:before {
		content: "\e611";
	}
	.oc-icon-follow:before {
		content: "\e612";
	}
	.oc-icon-ellipsis:before {
		content: "\e613";
	}
	.oc-icon-discussions:before {
		content: "\e614";
	}
	.oc-icon-crossroads:before {
		content: "\e615";
	}
	.oc-icon-content:before {
		content: "\e617";
	}
	.oc-icon-compose:before {
		content: "\e618";
	}
	.oc-icon-communities:before {
		content: "\e619";
	}
	.oc-icon-collections:before {
		content: "\e61a";
	}
	.oc-icon-collaborations:before {
		content: "\e61b";
	}
	.oc-icon-chart:before {
		content: "\e61c";
	}
	.oc-icon-calendar:before {
		content: "\e61d";
	}
	.oc-icon-arrow-up:before {
		content: "\e61e";
	}
	.oc-icon-arrow-sm-up:before {
		content: "\e61f";
	}
	.oc-icon-arrow-sm-right:before {
		content: "\e620";
	}
	.oc-icon-arrow-sm-down:before {
		content: "\e622";
	}
	.oc-icon-arrow-right:before {
		content: "\e623";
	}
	.oc-icon-arrow-left:before {
		content: "\e624";
	}
	.oc-icon-arrow-down:before {
		content: "\e625";
	}
	.oc-icon-application:before {
		content: "\e626";
	}
	.oc-icon-announce:before {
		content: "\e627";
	}
	.oc-icon-share:before {
		content: "\e669";
	}
	.oc-icon-milestone:before {
		content: "\e609";
	}
	.oc-icon-course:before {
		content: "\e616";
	}
	.oc-icon-instructor:before {
		content: "\e67e";
	}
	.oc-icon-pdf:before {
		content: "\e607";
	}
	.oc-icon-arrow-sm-left:before {
		content: "\e621";
	}
	.oc-icon-google:before {
		content: "\e699";
	}
	.oc-icon-skype:before {
		content: "\e69a";
	}
	.oc-icon-edit:before {
		content: "\e69b";
	}
	.oc-icon-facebook-circle:before {
		content: "\e69c";
	}
	.oc-icon-facebook:before {
		content: "\e69d";
	}
	.oc-icon-google-circle:before {
		content: "\e69e";
	}
	.oc-icon-skype-circle:before {
		content: "\e69f";
	}
	.oc-icon-twitter-circle:before {
		content: "\e6a0";
	}
	.oc-icon-twitter:before {
		content: "\e6a1";
	}
	.oc-icon-podcast:before {
		content: "\e674";
	}
	.oc-icon-mail:before {
		content: "\e685";
	}
	.oc-icon-network:before {
		content: "\e688";
	}
	.oc-icon-blended:before {
		content: "\e68f";
	}
	.oc-icon-left:before {
		content: "\e639";
	}
	.oc-icon-docs:before {
		content: "\e645";
	}
	.oc-icon-mastery:before {
		content: "\e64d";
	}
	.oc-icon-camera:before {
		content: "\e652";
	}
	.oc-icon-skills:before {
		content: "\e653";
	}
}
